/* src/index.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .App {
    text-align: center;
  }
  
  .timer {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .time {
    font-size: 3rem;
    margin: 20px 0;
  }

  .homepage-container {
    height: 100vh; /* Make it cover the full viewport height */
    width: 100vw; /* Make it cover the full viewport width */
    background-image: url("./assets/bg.png"); /* Path to the image */
    background-size: cover; /* Ensure it stretches to cover the full screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent unnecessary scrollbars */
  }
  
  
  
  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f0f0f0;
  }  